<body>
<div id="page">

    <div id="consigne">Sélectionne le nombre de pions souhaité pour la partie</div>

    <div id="note">Un pion peut correspondre à un joueur ou une équipe</div>

    <div id="list">
        <nav>
            <ul>
                <li class="deroulant"><a href="#">Nombre de joueurs</a>
                    <ul class="sous">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div id="lastdiv">
        <button id="valider" type="button" onclick="window.location.href ='http://localhost:4200/game'">Valider</button>
    </div>

</div>

</body>