<div id="page">
  <h4>Remplir le formulaire d'ajout</h4>


      <form name="myForm" (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div id="general">
          <h3>Thème</h3>
          <div class="form-group">
            <label for="categorie">Catégorie</label>
            <select class="form-control" id="categorie" name="categorie" ngModel>
              <option value="Improbable">Improbable</option>
              <option value="Mature">Mature</option>
              <option value="Plaisir">Plaisir</option>
              <option value="Scolaire">Scolaire</option>
            </select>
          </div>
          <div class="form-group">
            <label for="titre">
              Titre
            </label>
            <input type="text" id="titre" class="form-control" name="titre" ngModel>
          </div>
        </div>
        <h3>Questions et réponses</h3>
        <div id="contenu">
          <div id="questions">
        <div class="form-group">
          <label for="questionUne">
            Q°1
          </label>
          <input type="text" id="questionUne" class="form-control" name="questionUne" ngModel>
        </div>
        <div class="form-group">
          <label for="questionDeux">
            Q°2
          </label>
          <input type="text" id="questionDeux" class="form-control" name="questionDeux" ngModel>
        </div>
        <div class="form-group">
          <label for="questionTrois">
            Q°3
          </label>
          <input type="text" id="questionTrois" class="form-control" name="questionTrois" ngModel>
        </div>
        <div class="form-group">
          <label for="questionQuatre">
            Q°4
          </label>
          <input type="text" id="questionQuatre" class="form-control" name="questionQuatre" ngModel>
        </div>
        <div class="form-group">
          <label for="questionCinq">
            Q°5
          </label>
          <input type="text" id="questionCinq" class="form-control" name="questionCinq" ngModel>
        </div>
          </div>

          <div id="reponses">
        <div class="form-group">
          <label for="reponseUne">
            Réponse 1
          </label>
          <input type="text" id="reponseUne" class="form-control" name="reponseUne" ngModel>
        </div>
        <div class="form-group">
          <label for="reponseDeux">
            Réponse 2
          </label>
          <input type="text" id="reponseDeux" class="form-control" name="reponseDeux" ngModel>
        </div>
        <div class="form-group">
          <label for="reponseTrois">
            Réponse 3
          </label>
          <input type="text" id="reponseTrois" class="form-control" name="reponseTrois" ngModel>
        </div>
        <div class="form-group">
          <label for="reponseQuatre">
            Réponse 4
          </label>
          <input type="text" id="reponseQuatre" class="form-control" name="reponseQuatre" ngModel>
        </div>
        <div class="form-group">
          <label for="reponseCinq">
            Réponse 5
          </label>
          <input type="text" id="reponseCinq" class="form-control" name="reponseCinq" ngModel>
        </div>

        </div>

        </div>



        <button class="bouton" type="submit">AJOUTER</button>

      </form>



    </div>
