<div id="page">
    <div class="rectangle">
        <h1>Bienvenue ! </h1> <br>
        <h2> Règles du jeu</h2> <br>
        <div class="regles">Dans le jeu Tu Te Mets Combien, les joueurs auto-évaluent leurs connaissances <b>de 1 à 5</b> sur des <b>thèmes</b> originaux ou plus classiques.<br>
            Le but est d'être la première équipe à parcourir le plateau en répondant aux questions posées. <br>
            Pour cela, chaque équipe s'auto-évalue avant de répondre.<br>
            À chaque note d'évaluation correspond une question, plus ou moins complexe : plus celle-ci est élevée, plus la question est pointue !<br>
            En cas de bonne réponse, l'équipe avance du nombre de cases correspondant. <br><br>
            Par exemple une bonne réponse à une question évaluée 3 fait avancer de 3 cases sur le plateau.
        </div>
    </div>
    <a class="btn" [routerLink]="['/winner']">Jouer</a>
</div>

