<div id="page">
    <div class="rectangle">
        <h1>Bienvenue ! </h1>
        <h2> Règles du jeu</h2>
        <p>Dans le jeu "Tu Te Mets Combien ?", les joueurs auto-évaluent leurs connaissances de 1 à 10 sur des thèmes originaux ou plus classiques:
            fuseaux horaires, chaussettes de contention, koalas, personnages de dessins animés... <br>
            Le but est d'être la première équipe à parcourir le plateau en répondant aux questions posées. <br>
            Pour cela, chaque équipe s'auto-évalue avant de répondre.
            À chaque note d'évaluation correspond une question, plus ou moins complexe : plus celle-ci est élevée, plus la question est pointue !
            En cas de bonne réponse, l'équipe avance du nombre de cases correspondant. <br>
            Par exemple une bonne réponse à une question évaluée 6 fait avancer de 6 cases sur le plateau.
        </p>
    </div>
    <a class="btn" [routerLink]="['/game']">Jouer</a>
</div>

