
<body>

<img id="map" src="assets/map.png" alt="Plateau du jeu">

<div id="contenu">

    <div id="haut">
        <div id="title">
            Équipe à jouer
        </div>

        <div id="scores">
            <div class="classement" id="pion1">
                <img class="pawn" src="assets/pawn1.png" alt="Pion Equipe 1">
                <div class="case">Case 1</div>
            </div>

            <div class="classement" id="pion2">
                <img class="pawn" src="assets/pawn2.png" alt="Pion Equipe 2">
                <div class="case">Case 1</div>
            </div>

            <div class="classement" id="pion3">
                <img class="pawn" src="assets/pawn3.png" alt="Pion Equipe 3">
                <div class="case">Case 3</div>
            </div>

        </div>
    </div>

    <div id="bas">
        hello
    </div>

</div>

</body>
