<body>

    <a href="http://localhost:4200/">
        <img id="close" src="assets/close.png" alt="Bouton quitter la partie">
    </a>

    <div id="title">
        Equipe à jouer
    </div>

    <div id="contenu">

        <img id="map" src="assets/map.png" alt="Plateau du jeu">

        <div id="pion">
            <img class="pawn" src="assets/pawn1.png" alt="Pion Equipe 1">
            <img class="pawn" src="assets/pawn2.png" alt="Pion Equipe 2">
            <img class="pawn" src="assets/pawn3.png" alt="Pion Equipe 3">
        </div>

        <div id="classsup">
            <div class="score">Case 1</div>
            <div class="score">Case 2</div>
            <div class="score">Case 3</div>
        </div>

    </div>

</body>
