@font-face {
    font-family: "Bungee";
    src: url("src/assets/fonts/BungeeInline-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("src/assets/fonts/Montserrat-VariableFont_wght.ttf");
}

body {
    background: url("src/assets/pexels-fwstudio-164005.jpg");
    background-size: 100%;
    height: 51em;
    display: flex;
    flex-direction: column;
}

#header
{
    display: flex;
    flex-direction: row;
}

#close {
    height: 70px;
    float: left;
}

#title {
    height: 80px;
    padding-top: 40px;
    text-align: center;
    font-size: 40px;
    font-family: Bungee;
    color: #000b18;
}

#map {
    height: 700px;
}

#close:hover {
    transform: scale(1.1);
    z-index: 1;
}

.pawn {
    height: 80px;
    padding-right: 10px;
}

#pion {
    position: relative;
    top: 530px;
    left: 200px;
}

#classsup {
    display: flex;
}

.score {
    position: relative;
    top: 530px;
    left: 200px;
    font-size: 23px;
    color: #000000;
    padding-right: 10px;
    font-family: Bungee;
}

#contenu {
    height: 650px;
    display: flex;
    flex-direction: row;
}


