<!DOCTYPE html>
<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <title>TTMC</title>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
<img id="close" src="../../../assets/close.png" alt="Bouton quitter la partie">
<img id="logo" src="../../../assets/logo.png" alt="Logo TTMC">

<div id="title">
    Equipe à jouer
</div>

<div id="contenu">

    <img id="map" src="../../../assets/map.png" alt="Plateau du jeu">

    <div id="pion">
        <img class="pawn" src="../../../assets/pawn1.png" alt="Pion Equipe 1">
        <img class="pawn" src="../../../assets/pawn2.png" alt="Pion Equipe 2">
        <img class="pawn" src="../../../assets/pawn3.png" alt="Pion Equipe 3">
    </div>

    <div id="classsup">
        <div class="score">Score 1</div>
        <div class="score">Score 2</div>
        <div class="score">Score 3</div>
    </div>

</div>

</body>
</html>