<div class="carteRecto" [ngClass]="categorie">
    <div class="titre">
        <h5>Tu te mets combien ?</h5>
        <h1>REPONSES</h1>
    </div>

    <div class="questions">
        <div class="questionContainer">
            <h2 [ngClass]="categorie">1</h2>
            <h4>{{reponseUne}}</h4>
        </div>

        <div class="greyLine"></div>

        <div class="questionContainer">
            <h2 [ngClass]="categorie">2</h2>
            <h4>{{reponseDeux}}</h4>
        </div>

        <div class="greyLine"></div>

        <div class="questionContainer">
            <h2 [ngClass]="categorie">3</h2>
            <h4>{{reponseTrois}}</h4>
        </div>

        <div class="greyLine"></div>

        <div class="questionContainer">
            <h2 [ngClass]="categorie">4</h2>
            <h4>{{reponseQuatre}}</h4>
        </div>

        <div class="greyLine"></div>

        <div class="questionContainer">
            <h2 [ngClass]="categorie">5</h2>
            <h4>{{reponseCinq}}</h4>
        </div>

    </div>

</div>
