#conteneur {
    background: url("src/assets/pexels-fwstudio-164005.jpg");
    background-size: 100%;
    height: 51em;
}

#podium{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    height:39em;
    font-family: "Bungee";
    padding: 10em;
}

.pod1, .pod2, .pod3 {
    text-align: center;
    font-size: 40px;
    border-radius: 8px;
    color: white;
}

.pod1 {
    height: 65%;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
}

.pod2 {
    height: 50%;
    width: 100%;
    border-radius: 8px;
}
.pod3 {
    height: 40%;
    width: 100%;
    border-radius: 8px;
}

#title {
    padding-top: 50px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    font-family: Bungee;
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
}

.pawn
{
    height: 80px;
}

.joueur1
{
    color: #FFB800;
}

.joueur2
{
    color: #0066FF;
}

.joueur3
{
    color: #FF5C00;
}

.fond1
{
    background-color: #FFB800;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.fond2
{
    background-color: #0066FF;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.fond3
{
    background-color: #FF5C00;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}