<div id="conteneur">

    <div id="title"><div [ngClass]="premier"> Equipe {{game.winner}},</div> vous avez gagné !</div>

    <div id="podium">

        <div class="pod2">
            <div [ngClass]="fond2">
                2
            </div>
        </div>

        <div class="pod1">
            <div [ngClass]="fond1">
                 1
            </div>
        </div>

        <div class="pod3">
            <div [ngClass]="fond3">
                3
            </div>
        </div>

    </div>
</div>