<div class="container">

  <div class="topSection">
    <h2>Panel administrateur</h2>
  </div>

  <div class="listeCarte">
    <div class="topListe">
      <h4>Liste des cartes du jeu</h4>
      <a href="http://localhost:4200/add-carte"><button class="btn btn-primary" type="submit">Ajouter une nouvelle carte </button>
      </a>
    </div>
    <table class="table table-striped table-bordered table-hover">
    <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Titre</th>
      <th scope="col">Q°1</th>
      <th scope="col">Q°2</th>
      <th scope="col">Q°3</th>
      <th scope="col">Q°4</th>
      <th scope="col">Q°5</th>
      <th scope="col">Réponse 1</th>
      <th scope="col">Réponse 2</th>
      <th scope="col">Réponse 3</th>
      <th scope="col">Réponse 4</th>
      <th scope="col">Réponse 5</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let carte of cartes">
      <td>{{carte.id}}</td>
      <td>{{carte.categorie}}</td>
      <td>{{carte.titre}}</td>
      <td>{{carte.questionUne}}</td>
      <td>{{carte.questionDeux}}</td>
      <td>{{carte.questionTrois}}</td>
      <td>{{carte.questionQuatre}}</td>
      <td>{{carte.questionCinq}}</td>
      <td>{{carte.reponseUne}}</td>
      <td>{{carte.reponseDeux}}</td>
      <td>{{carte.reponseTrois}}</td>
      <td>{{carte.reponseQuatre}}</td>
      <td>{{carte.reponseCinq}}</td>
      <td><button type="button" class="btn btn-danger deleteButton" (click)="deleteCarte(carte.id)">Delete</button></td>
    </tr>
    </tbody>
  </table>
  </div>
</div>



