<div id="page">

  <div class="listeCarte">
    <div class="topListe">
      <h4>Cartes du jeu</h4>
      <a href="http://localhost:4200/add-carte"><button class="addCarte" type="submit"><img id="imageAdd" src="./assets/addCarte.png" >AJOUTER UNE CARTE</button>
      </a>
    </div>

    <div id="listeCarteAdmin">
    <div  id="carte" *ngFor="let carte of cartes">
      <div id="carteAdmin" >
        <app-carte *ngIf="!reponsesAffichees || currentCarteId != carte.id"  [categorie]="carte.categorie" [titre]="carte.titre" [questionUne]="carte.questionUne" [questionDeux]="carte.questionDeux" [questionTrois]="carte.questionTrois" [questionQuatre]="carte.questionQuatre" [questionCinq]="carte.questionCinq"></app-carte>
        <app-carte-reponses *ngIf="reponsesAffichees && currentCarteId === carte.id"  [categorie]="carte.categorie" [reponseUne]="carte.reponseUne" [reponseDeux]="carte.reponseDeux" [reponseTrois]="carte.reponseTrois" [reponseQuatre]="carte.reponseQuatre" [reponseCinq]="carte.reponseCinq"></app-carte-reponses>
        <div id="buttons">
        <button *ngIf="!reponsesAffichees || currentCarteId != carte.id"  id="voir" type="button" class="bouton" (click)="showReponses(carte.id)">Voir les réponses</button>
          <button *ngIf="reponsesAffichees && currentCarteId === carte.id" id="voirReponses" type="button" class="bouton" (click)="showReponses(carte.id)">Voir les questions</button>

          <button id="delete" type="button" class="boutonDelete" (click)="deleteCarte(carte.id)"><img id="imageDelete" src="./assets/deleteIcon.png"></button>
        </div>
      </div>
    </div>
    </div>

  </div>
</div>



